header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
  padding: 94px 50px;
}

.header__menu {
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-display: swap;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
  color: #000000;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

/*.header__links-list-item {
  каждый пункт в списке
}

.header__link {
    каждая ссылка в пункте списка
}
Пока не понимаю зачем эти классы
*/

.header__logo {
  display: block;
  width: 148px;
}

.header_logo-image {
  width: 100%;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 240px;
  font-size: 18px;
}

.header_address {
  justify-self: end;
}

.overlay {
  position: absolute;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
  inset: 0;
}

.cover {
  min-height: 757px;
  position: relative;
  background-image: url(/images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -2;
}

.cover__title {
  padding: 165px 50px 0px 50px;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 115px;
  line-height: 1;
  color: #ffffff;
  z-index: 5;
  letter-spacing: 34.5px;
}

.aligned-text {
  display: block;
  margin: 20px 0;
}

.aligned-text_left {
  text-align: start;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.no-letter-spacing {
}

.cover__description {
  padding: 118px 50px 50px 50px;
}

.cover__description-text {
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-display: swap;
  font-size: 22px;
  word-spacing: 20px;
  text-transform: uppercase;
}

.lots {
  margin: 180px 24px 173px 24px;
}

.about {
  margin: 0 24px 180px 24px;
}
